/node_modules
package.json
package-lock.json

backend/properties.env

backend/node_modules
frontend/node_modules

frontend/package.json
frontend/package-lock.json

backend/package.json
backend/package-lock.json

frontend/.env

Document.pdf
.gitignore

.history
node_modules
