@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.Navbar{
    background-color: #282c34;
    color: white;
    text-align: center;
    height: 90px;
    overflow: visible;
    border-radius: 0 0 20px 20px;
}

.title{
    flex: 4;
    text-align: left;
    padding: 0 30px;
    font-size: 36px;
}
.user{
    flex: 0.4;
    display: flex;
    justify-content: space-around;
}

.profile-section{
    cursor: pointer;
    text-align: -webkit-center;
}
.profile-section:hover .profile-logo{
    display: block;
    border: 5px solid #ccc;
    transition: all 0.66s ease-in-out;
}
.profile-logo{
    width: 40px;
    height: 40px;
    border: black 1px solid;
    border-radius: 50%;
}
.profile-wrapper{
    display: inline-block;
    position: relative;
    z-index: 10;
}

.profile-name{
    display: flow;
    font-size: 30px;
    cursor: pointer;
}
.profile-content{
    right: 1px;
    position: absolute;
    background: #282c34;
    padding: 20px;
    margin-top: 14px;
    border-radius: 10px;
    align-items: center;
    list-style: none;

}
.profile-content li{
    padding: 10px;
    color: white;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.profile-content li :hover{
    background: #4d525e;
}

.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.input-box{
    width: 70%;
    padding: 30px;
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin-top:5% ;
    border-radius: 50px;
    box-shadow: #4d525e 0px 0px 16px 6px;
;
}
.input-field{
    width: 90%;
    height: inherit;
    font-size: 28px;
    padding-left: 30px;
    margin: 0 10px;
    margin-right: 0px;
    outline: none;
    border: none;
    border-radius: 20px;
}

.input-button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(109, 40, 217);
    border: none;
    color: white;
    display: block;
    cursor:pointer;
}
.input-wrapper{
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    border-radius: 50px;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.post-section{
    border: 1px solid #ccc;
    width: 70%;
    padding: 30px;
    border-radius: 50px;
    height: auto;
    margin-top: 100px;
    text-align: center;
    box-shadow: #4d525e 0px 0px 16px 2px;
;
}